@page "/productoverview"
@inherits ProductOverViewBase

<h1 class="page-title">All products</h1>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BlazorDataGrid Items="@Products" PageSize="5" ShowTotalResult="true" Translation="@Translate" PageSelector="@PageSelector"  
                    ShowPageSelector="true" TableClass="table table-hover bg-white">
        <BlazorDataGridColumn>
            <DataGridColumn Items="@Products" ColumnName=""></DataGridColumn>
            <DataGridColumn Items="@Products" ColumnName="Name" DisplayColumnName="Name"></DataGridColumn>
            <DataGridColumn Items="@Products" ColumnName="UnitPrice" DisplayColumnName="Unit Price"></DataGridColumn>
            <DataGridColumn Items="@Products" ColumnName="IsAvailable" DisplayColumnName="Is Available"></DataGridColumn>
            <DataGridColumn Items="@Products" ColumnName=""></DataGridColumn>
        </BlazorDataGridColumn>
        <GridRow>
            <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{context.ProductId}-small.jpg")" class="rounded-circle" /></td>
            <td>@context.Name</td>
            <td>@context.UnitPrice</td>
            <td>@context.IsAvailable</td>
            <td>
                <i class="oi oi-trash" @onclick="@(() => Delete(context.ProductId))"></i>
                <NavLink href="@($"productdetail/{context.ProductId}")" class="btn btn-primary table-btn">
                    <i class="fas fa-edit"></i>
                </NavLink>
            </td>
        </GridRow>
    </BlazorDataGrid>
}

<button @onclick="QuickAddProduct" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddProductDialog @ref="AddProductDialog" CloseEventCallback="@(AddProductDialog_OnDialogClose)"></AddProductDialog>
