@page "/productdetail/{ProductId}"
@inherits ProductDetailBase

<div class="bg-white container">
    <div class="card">
        <div class="card-header">
            <h1>Details for @Product.Name</h1>
        </div>
        <div class="card-body">            
            <EditForm Model="@Product" OnValidSubmit="@(() => HandleValidSubmit())" OnInvalidSubmit="@(() => HandleInvalidSubmit())">
                <DataAnnotationsValidator />
                                
                <div class="form-group">
                    <label for="name">Name: </label>
                    <InputText id="name" class="form-control" @bind-Value="Product.Name" placeholder="Enter product name" />
                    <ValidationMessage For="@(() => Product.Name)" />
                </div>

                <div class="form-group">                   
                    <label for="category">Category: </label>
                    <InputSelect id="category" class="form-control" @bind-Value="@CategoryId">
                        @foreach (var category in Categories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Product.CategoryId)" />
                </div>

                <div class="form-group">
                    <label for="unitprice">Unit Price: </label>
                    <InputNumber id="unitprice" class="form-control" @bind-Value="Product.UnitPrice" />
                </div>
                <div class="form-group">
                    <label for="image">Image: </label>
                    <InputText id="image" class="form-control" @bind-Value="Product.Image" placeholder="Enter product image" />
                </div>
                <div class="form-group">
                    <label for="isAvailable">Is Available: </label>
                    <InputCheckbox id="isAvailable" @bind-Value="Product.IsAvailable" />
                </div>
                <div class="align-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToMainMenu">Cancel</a>
                </div>
            </EditForm>
        </div>
        <div class="card-footer">            
            <div class="alert @StatusClass">@Message</div>
            <a class="btn btn-outline-primary" @onclick="@NavigateToMainMenu">Back to overview</a>
        </div>
    </div>
</div>